@use '../abstracts';


.header {
    background: var(--header-bg-color);

 
}

.top-bar {
    display: flex;
    align-items: center;
    position: relative;
    padding: 30px 0;
    @include abstracts.breakpoint(lg){
        padding: 20px 0;
    }

    @include abstracts.breakpoint(md){
        padding: 16px 0;
        justify-content: space-between;
    }
    &__more{
        display: none;
    }
    &__more{
        @include abstracts.breakpoint(lg){
            display: block;
            
        }
    }

   
    
}

.navbar {
    margin-left: 144px;

    @include abstracts.breakpoint(xl){
        margin-left: 50px;
    }
    @include abstracts.breakpoint(lg){
        display: none;
    }

    &__list {
        display: flex;
        align-items: center;
        
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
        height: 50px;
        padding:  0 15px;
    }
    &__item{
        &:first-child a{
            padding-left: 0;
        }
        &:last-child a{
            padding-right: 0;
        }

        &:hover .dropdown{
            display: block;
        }
    }

    &__arrow {
        margin-top: 3px;
    }
}

.top-act {
    // margin-left: 310px;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    @include abstracts.breakpoint(md){
        margin-left: 0;
    }
    &__group {
        display: flex;
        align-items: center;
        // gap: 30px;
        min-width: 50px;
        height: 50px;
        border-radius: 8px;
        background: var(--top-act-group-bg-color);
        box-shadow: 0px 20px 60px 10px var(--top-act-shadow);

        @include abstracts.breakpoint(md){
            display: none;
        }
    }
    &__group--single {
        @include abstracts.breakpoint(lg){
            display: none;
        }
    }
    &__group--single &__btn {
        padding: 13px;
    }

    &__btn {
        padding: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }
    &__separate{
        width: 1px;
        height: 30px;
        background: var(--top-act-group-separate);
    }
    &__avatar {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 8px;
        display: block;
    }
}