*,
::before,
::after{
    box-sizing: border-box;
}


html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: Gordita, sans-serif;
    color: var(--text-color);
    background: var(--body-bg);
}
//reset màu,font mặc đinh của thẻ
button, input, textarea, select{
    font-family: inherit;
    color: inherit;
}
a{
    color: inherit;
    text-decoration: none;
}

button{
    border: none;
    outline: none;
    background: transparent;
}

.icon{
    filter: var(--icon-color) !important;
}